name: Build Wheels

on:  
  push:
    tags:
      - '*'

env:
  CIBW_SKIP: pp* *-manylinux_i686 *-musllinux*
jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        arch: [auto]
        include:
          - os: ubuntu-latest
            arch: aarch64
    steps:
      - uses: actions/checkout@v2

      - name: Build wheels
        uses: joerick/cibuildwheel@v2.22.0
        # to supply options, put them in 'env', like:
        env:
          CIBW_BEFORE_BUILD: pip install numpy pybind11 setuptools wheel pkginfo twine
          CIBW_ARCHS_MACOS: "x86_64 arm64"

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl