name: Build Wheels

on:  
  push:
    tags:
      - '*'

env:
  CIBW_SKIP: pp* *-manylinux_i686 *-musllinux* py36* py37* py38*
jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        arch: [auto]
        include:
          - os: ubuntu-latest
            arch: aarch64
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        if:  ${{ matrix.arch == 'aarch64' }}
        uses: docker/setup-qemu-action@v1

      - name: Build wheels
        uses: joerick/cibuildwheel@v2.22.0
        # to supply options, put them in 'env', like:
        env:
          CIBW_BEFORE_BUILD: pip install numpy pybind11 setuptools wheel pkginfo twine
          CIBW_ARCHS_MACOS: "x86_64 arm64"
          CIBW_ARCHS: ${{ matrix.arch == 'aarch64' && 'aarch64' || 'auto64' }}

      - name: Upload built wheels
        uses: actions/upload-artifact@v4
        with:
          name: built-wheels-${{ matrix.os }}-${{ matrix.arch }}
          path: ./wheelhouse/*.whl
          if-no-files-found: warn